<footer class="footer-block">
    <div class="container">
        <div class="main-footer">
            <div class="col-block menu" style="width: 161px;">
                <div class="inner">
                    <h3 class="title">Product</h3>
                    <ul class="menus">
                        <li>
                            <a href="#product/premium-bare-metal">Premium Bare Metal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-block menu" style="width: 184px;">
                <div class="inner">
                    <h3 class="title">Help</h3>
                    <ul class="menus">
                        <li>
                            <a href="#help/status">Status</a>
                        </li>
                        <li>
                            <a href="#help/supports">Supports</a>
                        </li>
                        <li>
                            <a href="#help/docs">Docs</a>
                        </li>
                        <li>
                            <a href="#help/roadmap">Roadmap</a>
                        </li>
                        <li>
                            <a href="#help/geeks">Geeks with Bad Headsets</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-block menu" style="width: 184px;">
                <div class="inner">
                    <h3 class="title">Content</h3>
                    <ul class="menus">
                        <li>
                            <a href="#">Startup Journey</a>
                        </li>
                        <li>
                            <a href="#">Dev/Ops</a>
                        </li>
                        <li>
                            <a href="#">Geeks with Bad Headsets</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-block menu" style="width: 118px;">
                <div class="inner">
                    <h3 class="title">Company</h3>
                    <ul class="menus">
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="http://new.packet.net/about/team">Team</a>
                        </li>
                        <li>
                            <a href="#about/contact">Contact</a>
                        </li>
                        <li>
                            <a href="http://new.packet.net/about/careers">Careers</a>
                        </li>
                        <li>
                            <a href="#about/press">Logo &amp; Press</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-block apps">
                <div class="inner">
                    <h3 class="title">Mobile Apps</h3>
                    <ul class="menus">
                        <li>
                            <a href="#" class="app-link">
                                <span class="icon ready" icon="g"></span>
                                <span class="text">Android</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="app-link">
                                <span class="icon ready" icon="n"></span>
                                <span class="text">iPhone</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-block connect">
                <div class="inner">
                    <h3 class="title">Let's Connect</h3>
                    <div class="button-box">
                        <a class="bl-btn" dgref="http://new.packet.net/popup/sales">Contact Sales</a>
                        <a class="bl-btn" dgref="http://new.packet.net/popup/support">Email Support</a>
                    </div>
                    <div class="social-box">
                        <a target="_blank" class="cr-icon ready" href="https://www.facebook.com/getpacket" icon="l"></a>
                        <a target="_blank" class="cr-icon ready" href="https://twitter.com/packethost" icon="p"></a>
                        <a target="_blank" class="cr-icon ready" href="https://www.linkedin.com/company/packet-host" icon="o"></a>
                        <a target="_blank" class="cr-icon ready" href="https://plus.google.com/u/0/115935437187489664677" icon="m"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="super-footer">
            <div class="copy-block">
                <span class="copy">Made with love in New York</span>
            </div>
            <div class="link-block">
                <ul class="inline-menu">
                    <li>
                        <a href="http://new.packet.net/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="http://new.packet.net/policy">Policy</a>
                    </li>
                    <li>
                        <a href="http://new.packet.net/terms">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="http://new.packet.net/sla">SLA</a>
                    </li>
                    <li>
                        <a href="http://new.packet.net/copyright">Copyright</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="mascot-foo">
    <img src="http://new.packet.net/assets/images/head_foo.svg" onerror="this.src='http://packet.dev/assets/images/head_foo.png'">
</div>