<div class="colorfull-ptb cleanhead
">
    <header class="header-block">
        <div class="toolbar">
            <div class="container">
                <ul class="tool-wrap">
                    <li class="tool-item">
                        <div class="btn-wrap">
                            <a href="http://new.packet.net/help" class="tool-btn"><span>Help</span></a>
                        </div>
                    </li>
                    <li class="tool-item">
                        <div class="btn-wrap">
                            <a class="tool-btn current" href="http://new.packet.net#api">API</a>
                        </div>
                    </li>
                    <li class="tool-item">
                        <div class="btn-wrap">
                            <a href="http://new.packet.net/blog" class="tool-btn"><span>Blog</span></a>
                        </div>
                    </li>
                    <li class="tool-item">
                        <div class="btn-wrap">
                            <a class="tool-btn ready" href="http://new.packet.net#" icon-a="h">Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="head-wrap">
            <div class="container">
                <div class="head-offset">
                    <div class="logo-box">
                        <a class="logo" href="http://new.packet.net">
                            <img src="http://new.packet.net/assets/images/white-logo.png" alt="Packet - A Premium Barel Metal Cloud Hosting">
                        </a>
                    </div>
                    <div class="menu-box">
                        <ul class="head-menus nav-collapse nav-collapse closed" aria-hidden="false" style="-webkit-transition: max-height 284ms; transition: max-height 284ms; position: relative;">
                            <li>
                                <a href="http://new.packet.net/features"><span>Features</span></a>
                            </li>
                            <li>
                                <a href="http://new.packet.net/pricing"><span>Pricing</span></a>
                            </li>
                            <li>
                                <a href="http://new.packet.net/compare"><span>Compare</span></a>
                                <div class="sub-menu">
                                    <div class="offset">
                                        <div class="sub-block">
                                            <h3 class="title">Provider</h3>
                                            <ul class="list">
                                                <li>
                                                    <a href="http://new.packet.net#compare/aws">AWS</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/softlayer">Soflayer</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/rackspace">Rackspace</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/digital-ocean">Digital Ocean</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/colocation">Colocation</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/dedicated">Dedicated</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="sub-block">
                                            <h3 class="title">Tech</h3>
                                            <ul class="list">
                                                <li>
                                                    <a href="http://new.packet.net#compare/coreos">CoreOS</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/ubuntu-snappy">Ubuntu Snappy</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/redhat-atomic">RedHat Atomic</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/deis-paas">Deis PaaS</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/mesosphere">Mesosphere</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/fleet">Fleet</a>
                                                </li>
                                                <li>
                                                    <a href="http://new.packet.net#compare/kubernetes">Kubernetes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="http://new.packet.net/about"><span>About</span></a>
                            </li>
                            <li>
                                <a href="http://new.packet.net/developers"><span>Developers</span></a>
                            </li>
                            <li>
                                <a href="http://new.packet.net#">
                                    <span>Sign Up</span>
                                </a>
                            </li>
                        </ul><a href="http://new.packet.net#" class="nav-toggle" aria-hidden="true">Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>